
@tailwind base;
@tailwind screens;

// Insert your styles here
body {
  @apply bg-black;
  @apply text-purple-500;
  font-family: 'Baloo Thambi 2';
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-weight: 500;
  src: local('Baloo Thambi 2 Medium'), local('BalooThambi2-Medium'), url(https://fonts.gstatic.com/s/baloothambi2/v1/cY9ffjeOW0NHpmOQXranrbDyu7CzLYe-RB4.woff2) format('woff2');
}

@tailwind components;
@tailwind utilities;

a {
  &:hover {
    @apply text-purple-400;
  }
}

li {
  list-style: none;
}

button {
  @apply bg-purple-900 text-purple-300;

  @apply py-1 px-2;
  @apply rounded-lg;

  &:hover {
    @apply bg-purple-800;
  }
}
